* {
  box-sizing: border-box;
}

html {
  background: url(../images/Space-background.png) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
}

/* Grid */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-container > div {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  justify-content: space-evenly;
}

/* Title */

#title {
  grid-column: 1 / 5;
  font-size: 60px;
  color: black;
	-webkit-text-stroke: 2px goldenrod;
}

/* Character Selection */

.charSelect {
  grid-column: 2 / 4;
  grid-row: 2;
  display: grid;
  column-gap: 10px;
}

.direction {
  text-align: center;
  grid-column: 1 / 5;
  margin-bottom: 20px;
  grid-row: 1;
}

#obi,
#luke,
#sid,
#maul {
  text-shadow: 2px 2px 8px black;
  background-color: lightgrey;
  width: 220px;
}

img#obi,
img#luke,
img#sid,
img#maul,
img#user,
img#defender {
  width: 110px;
  height: 100px;
  margin: 5px 0;
}

#obi {
  grid-column: 1;
  grid-row: 2;
  box-shadow: 0 0 8px 3px rgb(148, 167, 231);
}

#luke {
  grid-column: 2;
  grid-row: 2;
  box-shadow: 0 0 8px 3px green;
}

#sid {
  grid-column: 3;
  grid-row: 2;
  box-shadow: 0 0 8px 3px red;
}

#maul {
  grid-column: 4;
  grid-row: 2;
  box-shadow: 0 0 8px 3px red;
}



/* Fight Area */

.arena {
  grid-row: 3;
  grid-column: 1 / 5;
  display: grid;
  row-gap: 5px;
}

.you > *,
.defender > * {
  margin: 5px;
}

progress[value] {
  -webkit-appearance: none;
  width: 185px;
}

/* User Fighter */

.you {
  grid-column: 1;
  grid-row: 1;
  width: 496px;
  place-self: center;
}

/* Use the force button */
.fight {
  grid-column: 2;
  grid-row: 1;
  width: 185px;
  place-self: center;
}

.fight h2 {
  margin-bottom: 15px;
}

.fight button {
  height: 50px;
  font-size: 25px;
  font-family: 'PT Sans Narrow', sans-serif;
}

/* Enemy Fighter */
.defender {
  grid-column: 3;
  grid-row: 1;
  width: 496px;
  place-self: center;
}

/* Enemies remaining to fight */

.enemiesLeft {
  grid-column: 3;
  grid-row: 3;
  display: grid;
  row-gap: 5px;
}

.enemiesLeft h2 {
  grid-column: 1 / 4;
  grid-row: 1;
  text-align: center;
  padding: 10px;
}

#enemy1 {
  grid-column: 1;
  grid-row: 2;
}

#enemy2 {
  grid-column: 2;
  grid-row: 2;
}

#enemy3 {
  grid-column: 3;
  grid-row: 2;
}

img#one,
img#two,
img#three {
  width: 110px;
  height: 100px;
  margin: 5px 0;
}
